<%- include _header.ejs %>

<div class="row justify-content-center mt-4 mx-0">
  <h2 class="display-4">Empresas</h2>
</div>
<div class="row justify-content-center m-0">
  <div class="col-sm-8">
    <div class="row m-3">
      <button type="button" class="btn btn-primary" onclick="window.location.href='/empresa/novo';">Nova empresa</button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% if(listaEmpresas != null){
            for(var i = 0; i < listaEmpresas.length; i++){ %>
          <tr>
            <td><%= listaEmpresas[i].nome %></td>
            <td class="text-center">
              <button class="btn btn-outline-primary btn-sm" onclick="location.href='/empresa/editar/<%= listaEmpresas[i].id %>'"><i class="fas fa-pencil-alt"></i></button>
              <button class="btn btn-outline-danger btn-sm" onclick="location.href='/empresa/excluir/<%= listaEmpresas[i].id %>'"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <% }
          } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include _footer.ejs %>
