<%- include _header.ejs %>

<div class="row justify-content-center mt-4 mx-0">
  <h2 class="display-4">Registros</h2>
</div>
<div class="row justify-content-center m-0">
  <div class="col-sm-8">
    <div class="row m-3">
      <button type="button" class="btn btn-primary" onclick="window.location.href='/registro/novo';">Novo registro</button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Empresa</th>
            <th class="text-center">Produto</th>
            <th class="text-center">Data</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Opções</th>
          </tr>
        </thead>
        <tbody>
          <% if(registros != null){
          for(var i = 0; i < registros.length; i++){ %>
          <tr>
            <td class="text-center"><%= registros[i].empresa.nome %></td>
            <td class="text-center"><%= registros[i].produto.nome %></td>
            <td class="text-center"><%= registros[i].data %></td>
            <td class="text-center"><%= registros[i].valor %></td>
            <td class="text-center">
              <button class="btn btn-outline-primary btn-sm" onclick="location.href='/registro/editar/<%= registros[i].id %>'"><i class="fas fa-pencil-alt"></i></button>
              <button class="btn btn-outline-danger btn-sm" onclick="location.href='/registro/excluir/<%= registros[i].id %>'"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
          <%}
      } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include _footer.ejs %>
